.data{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(14, 1, 17);
    font-family: taviraj;
}

header{
    background: none;
    height: 300vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.text{
    position: absolute;
    width: 600px;
    height: auto;
    margin: 10% 28%;
    text-align: center;
}
.text h1{
    text-align:center;
    color: aliceblue;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
}
.text p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 65px;
    color: aliceblue;
    font-size: 40px;
    font-family: sans-serif;
}
.text h4{
    margin: 20px auto;
    font-weight: 50;
    line-height: 40px;
    color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
}

.g-signin2{
    position: absolute;
    top: 73%;
    left: 50%;
    margin-top: -50px;
    margin-left: -42px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

