body{
    margin: 0;
    padding: 0;
    background:black;
    font-family: Arial;
}
.navbar ul{
    list-style: none;
    background: rgb(13, 1, 19);
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar div{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}
.navbar li a{
    text-decoration: none;
    color: aliceblue;
    width: 150px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    text-align: center;
}
.navbar li a:hover{
    color: rgb(240, 162, 226);
}
body{
    margin: 0;
    padding: 0;
    background: rgb(14, 1, 17);
    font-family: taviraj;
}
header{
    background: none;
    height: 300vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.text{
    position: absolute;
    width: 600px;
    height: auto;
    margin: 10% 28%;
    text-align: center;
}
.text h1{
    text-align:center;
    color: aliceblue;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
}
.text p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 65px;
    color: aliceblue;
    font-size: 40px;
    font-family: sans-serif;
}
.content{
    position: absolute;
    width: 1320px;
    height: auto;
    margin: 60% 1%;
}
.content li{
    padding: 70px 30px;
    margin:20px auto;
    color: black;
    font-size: x-large;
    font-family: sans-serif;
}
.content li{
    display: inline-block;
}
.content ul{
    list-style: none;
    background: rgb(121, 120, 120);
    padding: 0;
    margin: 0;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.clsvertical{
    border-left: 2px solid black;
    height: 150px;
    position: absolute;
    margin: 60px 250px;
}
.clsvertical1{
    border-left: 2px solid black;
    height: 150px;
    position: absolute;
    margin:60px 470px ;
}
.clsvertical2{
    border-left: 2px solid black;
    height: 150px;
    position: absolute;
    margin:60px 710px ;
}
.clsvertical3{
    border-left: 2px solid black;
    height: 150px;
    position: absolute;
    margin:60px 1060px ;
}
